/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'reset';
@reset      : 'reset';

/* Elements */
@button     : 'reset';
@container  : 'reset';
@divider    : 'reset';
@flag       : 'reset';
@header     : 'reset';
@icon       : 'reset';
@image      : 'reset';
@input      : 'reset';
@label      : 'reset';
@list       : 'reset';
@loader     : 'reset';
@placeholder: 'reset';
@rail       : 'reset';
@reveal     : 'reset';
@segment    : 'reset';
@step       : 'reset';
@text       : 'reset';

/* Collections */
@breadcrumb : 'reset';
@form       : 'reset';
@grid       : 'reset';
@menu       : 'reset';
@message    : 'reset';
@table      : 'reset';

/* Modules */
@accordion  : 'reset';
@calendar   : 'reset';
@checkbox   : 'reset';
@dimmer     : 'reset';
@dropdown   : 'reset';
@embed      : 'reset';
@modal      : 'reset';
@nag        : 'reset';
@popup      : 'reset';
@progress   : 'reset';
@slider     : 'reset';
@rating     : 'reset';
@search     : 'reset';
@shape      : 'reset';
@sidebar    : 'reset';
@sticky     : 'reset';
@tab        : 'reset';
@toast      : 'reset';
@transition : 'reset';

/* Views */
@ad         : 'reset';
@card       : 'reset';
@comment    : 'reset';
@feed       : 'reset';
@item       : 'reset';
@statistic  : 'reset';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';


/*******************************
         Import Theme
*******************************/

@import (multiple) "theme.less";

/* End Config */