.bg {
  padding: 82px 0px;
  background: linear-gradient(0deg, rgba(0,0,1,0.6), rgba(0,0,1,0.6)), url("../../public/static/img/concrete-texture-wallpaper-2.jpg") repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.label {
  color: white;
}
