.customCorlor:hover {
  color: white !important;
  background: #cf1b15 !important;
}
.customBorder {
  padding: 10px !important;
  border-left: 2px solid #cf1b15 !important;
}
.customHeightResponsive {
  height: 60vh !important;
}
